.btn-group .button {
    background-color: #4CAF50;
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: #3e8e41;
}

/* Formulaire */

input {
    border: 1px ridge #999;
    border-radius: 10px;
    border-color: white;
    width: 400px;
    height: 35px;
    background-color: lightgrey;
}

select {
    border: 0px ridge #999;
    border-radius: 10px;
    border-color: white;
    width: 400px;
    height: 35px;
    background-color: lightgrey;
}

label {
    display: block;
}
