/* Instructions page */

body {
  margin:0%;
  height: 100%;
  background-image:url(../src/images/ordinateur.jpeg);
  background-repeat:no-repeat;
}

#page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
  position: absolute;
}

#body1{
  background-color: rgba(0,0,0,0.8);
}

/* navigation */

#navigation {
  width: 22%;
  height: 100%;
  float: left;
  background-color:rgba(0,0,0,0.8);
  color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Description au dessus du HOME */

#center {
  margin-top: 30%;
  text-shadow: 0 0 0.2% #610B38, 0 0 0.2% #610B38;
  text-align: center;
  color: white;
  min-height:10%;
  font-size: 15px;
}

#navigation p:first-of-type {
  height: 45%;
  margin: 0;
  padding: 0;
}

/* MENU */

#vertical-menu {
  padding:0;
  margin: 0;
  height: 80%;
}

#vertical-menu a {
  color: white;
  display: block;
  padding: 9%;
  font-size: 100%;
  text-decoration: none;
  text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
  text-align: center;
}

#vertical-menu a.active {
  color: white;
  font-weight:bold;
  font-size: 35px;
  font-weight:bold;
}

/* CONTENT*/

#main-page {
  float: left;
  width: 76%;
  height : 100%;
}

.content {
  width: 100%;
  height :100%;
  overflow: scroll;
}

h1 {
  text-shadow: 3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, -3px 0 0 black, 3px 3px 0 black, 3px -3px 0 black, -3px 3px 0 black, -3px -3px 0 black;
  color: white;
  text-align: left;
  font-size: 250%;
  margin-left: 58px;
  margin-top : 56px;
  margin-bottom: -62px;
}

/* Barre menu haut */

header{
  height: 10%;
  background-color: rgba(0,0,0,0.8);
  float: left;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  bottom: 0;
  z-index: 5;
}

/* HORIZONTAL MENU */

.horizontal-menu li {
  display : inline;
  padding: 0 16% 0 18%;
  float: left;
  text-shadow: 2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, -2px 0 0 black, 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
}

.horizontal-menu {
  list-style-type : none;
  color: white;
}

/* HORIZONTAL MENU 2 */

.horizontal-menu2 li {
  display : inline;
  padding: 30px;
  padding-top: 3%;
}

.horizontal-menu2 {
  list-style-type : none;
  width: 100%;
  float: left;
}

.horizontal-menu2 a {
  text-decoration: none;
  color: black;
}

.horizontal-menu2 a:hover {
  font-weight: bold;
}

/* login */

input[type="text"]::placeholder {
  text-align: left;
}

input[type="password"]::placeholder {
  text-align: left;
}

#login {
  text-align: right;
}

#login input {
  text-align: left;
  margin-left : 18px;
  border : 1mm ridge white;
  font-style: italic;
  width: 170px;
  height: 20px;
}

/* Slide */

#moncadre {
  border:60px solid rgba(0,0,0,0.8);
  width:770px;
  height:338px;
  overflow: hidden;
}

.slider {
  width: 770px;
  height : 338px;
}
.slides {
  width: calc(770px * 3);
  animation: glisse 8s infinite;
}
.slide {
  float: left;
}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(-770px);
  }
  75% {
    transform: translateX(-770px);
  }
  100%{
    transform: translateX(0);
  }
}

.button {
  display: inline-block;
  padding: 4px 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #000CBA}

.button:active {
  background-color:  #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button4 {
  display: inline-block;
  padding: 4px 10px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


.button2 {
  display: inline-block;
  padding: 4px 12px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e7e7e7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button2:hover {background-color: #000CBA}

.button2:active {
  background-color:  #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button3 {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button3:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
